<div id="admin-body">
        <div id="account-section">
            <div class="account-avatar">
                <img src="https://imgtrenz.blob.core.windows.net/blob/avatar.png" alt="Avatar" class="avatar-image">
            </div>
            <nav>
                <div class="menu-items">
                    <ul class = "nav-links">
                        <li><a href="/admin/admin_statusOrder">
                            <i class="fa fa-tasks fa-2xl icon-adminnav"> </i>
                            <span class = "link-name">Tình trạng đơn hàng</span>
                        </a></li>
                        <li><a href="/admin/admin_listProduct" >
                            <i class="fa fa-list-alt fa-2xl icon-adminnav"> </i>
                            <span class = "link-name">Danh mục sản phẩm</span>
                        </a></li>
                        <li><a href="/admin/admin_listUser" class="nav-admin-active">
                            <i class="fa fa-users fa-2xl icon-adminnav"> </i>
                            <span class = "link-name">Danh mục khách hàng</span>
                        </a></li>
                    </ul>
                </div>
                <div>
                    <button id="btn-admin-logout">Đăng xuất</button>
                </div>
            </nav>
        </div>
        <div id="admin-table-section">
            <div id="admin-table-wapper">
                <table id="admin-table-content">
                    <thead>
                        <th class="admin-table-header">Mã khách hàng</th>
                        <th class="admin-table-header">Tên khách hàng</th>
                        <th class="admin-table-header">Giới tính</th>
                        <th class="admin-table-header">Địa chỉ</th>
                        <th class="admin-table-header">Liên lạc</th>
                        <th class="admin-table-header">Email</th>
                    </thead>
                    <tbody>
                        {{#each users}}
                            <tr>
                                <td class="admin-table-td">{{this.id}}</td>
                                <td class="admin-table-td">{{this.name}}</td>
                                <td class="admin-table-td">{{this.gender}}</td>
                                <td class="admin-table-td">{{this.phone}}</td>
                                <td class="admin-table-td-name">{{this.address}}</td>
                                <td class="admin-table-td-name">{{this.email}}</td>
                            </tr>
                        {{/each}}
                </table>
            </div>
        </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const logoutButton = document.getElementById('btn-admin-logout');
    if (logoutButton) {
        logoutButton.addEventListener('click', function() {
            window.location.href = '/login'; 
        });
    }
});

</script>