<div class="home_image">
        <img class="home_image" src="/img/ssFALL_WINTER.png" alt="home-image">
    </div>

    <div id="famous_items">
        <div class="famous_items">
            <h1>Sản phẩm nổi bật</h1>
        </div>
    </div>

    <div class="home_products_grid">    
        {{#each products}}
        <div class="home_product">
            <div class="home_product_items">
                <a href="/{{this.id}}">
                <img class="detail_product" src="{{this.img}}" alt="{{this.name}}">
            </a>
            <a href="/{{this.id}}">
                <p class="description">{{this.name}}</p>
            </a>
            <p class="price">{{this.price}}đ</p>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="homepage_more">
        <a class="homepage_more_link" href="" target="_blank" >Xem thêm</a>
    </div>

    <div class="home_image2">
        <img class="home_image2" src="/img/ssdBanner-50-thudong2_1.png" alt="home-image">
        <div class="home_image2_content">
            <h2>SALE 50%</h2>
            <p>Giới hạn thời gian</p>
        </div>
        
    </div>